<launch>
    <arg name="topicname_image"               default="/0/image_raw"/>

    <node pkg="example_image_ros_node" name="example_image_ros_node" type="example_image_ros_node" output="screen">
        <param name="topicname_image"      type="string" value="$(arg topicname_image)"/>
    </node>

</launch>